/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: rgba(51, 51, 51, 0.8);
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-toggle {
    display: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.navbar a:hover {
    background-color: orange;
    border-radius: 5px;
}

.language-switcher {
    display: flex;
    margin-left: auto;
}

.language-switcher button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
}

.language-switcher button:hover {
    color: orange;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.center-content {
    text-align: center;
    color: black;
    position: relative;
    z-index: 2;
}

.main-content {
    margin-left: 220px;
    /* Adjust according to sidebar width */
    padding: 20px;
}

.project {
    margin-bottom: 40px;
    /* Adjust spacing between projects */
}

.project h2 {
    margin-bottom: 10px;
    /* Adjust spacing below project titles */
}

.project p {
    text-align: left;
    /* Align text content to the left */
}

footer {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.sidebar {
    width: 200px;
    /* Adjust width as needed */
    background-color: #f0f0f0;
    /* Example background color */
    padding: 10px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    /* Enable scrolling if content exceeds sidebar height */
}


.sidebar ul {
    list-style-type: none;
    padding: 40px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar a i {
    margin-right: 10px;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    .navbar li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .navbar.active {
        display: flex;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}